.team-details {
  text-align: center;
}
.player-info {
  display: flex;
}
.team-player {
  margin-top: 15px;
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  margin: 0 auto;
}

.team-player div {
  /* width: 24%; */
  border: 2px solid black;
  box-shadow: 0px 0px 0px 2px grey;
  margin: 5px;
  border-radius: 10px;
  /* padding: 8px; */
}
